*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

html{
	min-width: 320;
}

body input, button	{
	outline-style: none;	
}

body input:focus, button:focus	{
		-moz-box-shadow: 0 5px 0 #333; 
		-webkit-box-shadow: 0 5px 0 #333; 
		box-shadow: 0 5px 0 #333; 	
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: Arial, "RobotoRegular", sans-serif;
	font-size: 14px;
	background: #eee;
}

section{
	margin: 0;
	margin-top: 5px;
	padding-bottom: 15px;
	background: #eee;
}

header{
	margin-bottom: 30px;
}

footer{
	margin-top: 20px;
}
/* ------------------- */
.top{
	/*height: 100px;*/
	background: #fff;
}

.logo{
	background: url('../img/logo.png');
	width: 200px;
	height: 130px;	
	margin-bottom: 10px;
	margin-left: -20px;
	outline-style: none;	
}

.rl{
	-moz-box-shadow: 0 5px 0 red; 
	-webkit-box-shadow: 0 5px 0 red; 
	box-shadow: 0 5px 0 red; 
}

.shadow{
	-moz-box-shadow: 1px 1px 1px #333; 
	-webkit-box-shadow: 1px 1px 1px #333; 
	box-shadow: 1px 1px 1px #333; 
}

.search>input{
	width: 100%;
	height: 40px;
	font-size: 16px;
	margin-top: 70px;
	padding: 0 10px;
	color: #333;
	border: 1px solid #333;	
}

.search { position: relative; }
.search input { text-indent: 30px;}
.search .fa-search { 
  position: absolute;
  top: 78px;
  left: 10px;
  font-size: 24px;
}

.top-btns{
	position: relative;
	float: left;
	padding: 0;
}

.top-btns:parent{
	padding: 0;
}




.btn{
	text-transform: uppercase;
	font-size: 14px;
	float: left;		
	margin-left: 0px;
	width: 45%;
	padding: 1px 6px;
	text-align: center;
}




.black-btn{
	background: #333;
	/*width: 150px;*/
	height: 40px;
	line-height: 30px;
	border: 0;
	color: #fff;
	margin-top: 5px;

	box-shadow: 0 -5px 0 #333; 
}

.black-btn:hover{
	color: yellow;
	box-shadow: 0 -5px 0 red;
}

.white-btn{
	background: #fff;
	/*width: 150px;*/
	height: 40px;
	margin-top: 25px;
	color: #333;

	border: 1px solid #333;
}


.top-btns > div > .btn:nth-child(2) {
	margin-left: 20px;
}

.white-btn:hover{
	/*color: yellow;*/
	box-shadow: 0 5px 0 #333;
	/*background: #eef;*/
}

.ltl{
	width: 31%;	
	/*width: auto;*/
	margin-left: 1.15%;
	margin-right: 1.15%;
	/*margin-right: 2.3%; /*15px;*/*/
	/*height: auto;*/
	/*border:none;*/
	/*background: transparent;*/
	/*font-size: 90%;*/	
}

/*.ltl:nth-child(5n+6) {
    clear:left;
    float:left;
}*/

.darknes:hover{
	background: #eee;
	box-shadow: none;
}

.top-menu{
	background: #333;
	height: 50px;
}

ul{
	display: block;
	margin: 0;
}


li{
	height: 50px;
	list-style: none;
	float: left;
	margin-left: 15px;
	padding: 0 5px;
	line-height: 50px;
}

li>a{
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
}

li>a>i{
	color: red;
	margin-right: 5px;	
}

li:hover>a{
	color: yellow;
}

li.active{
	background: red;

	-moz-box-shadow: 0 5px 0 #333; 
	-webkit-box-shadow: 0 5px 0 #333; 
	box-shadow: 0 5px 0 #333;
}

.blocker{
	width: 100%;
	display: block;
	/*min-height: 200px;*/
	margin: 0;
	margin-top: 15px;
	background: #fafafa;
	padding-bottom: 20px;
	display: inline-block;

	-moz-box-shadow: 2px 2px 2px #333; 
	-webkit-box-shadow: 2px 2px 2px #333; 
	box-shadow: 0px 0px 3px #333;  	
}

.h6{
	width: 100%;
	background: #333;
	height: 40px;
	color: #fff;
	border: 0;
	line-height: 40px;
	font-weight: bold;
	padding-left: 20px;
	margin: 0;
	float: left;
 	
 	-moz-box-shadow: 1px 1px 1px #333; 
	-webkit-box-shadow: 1px 1px 1px #333; 
	box-shadow: 1px 1px 1px #333; 
}

.content{
	width: 100%;
	float: left;
	padding: 0 2%;
}

.wrapp{
	display: block;
	margin: 0 auto;
}

.locate{
	background: url('../img/location.png') no-repeat;

	width: 60px;
	height: 60px;
}

.slider{
	height: 372px;
}

.slide{
	margin: 20px 15px 0 0;
	float: left;
}

.slide>img, .slide>a>img{
	height: 19em;
}

.checkers, .owl-pagination{
	/*margin: 5px 0 0 45%;
	float: left;*/
	position: absolute;
  left: 50%;
  /*margin-left: -100px;*/
}

.checker, .owl-page{
	width: 10px;
	height: 10px;
	border: 2px solid #888;
	float: left;
	margin: 10px;
}

#owl-demo .item{
  margin: 3px;
}
#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}
.owl-page.active{
	background: #333;
}

footer{
	background: #222;
	color: #fff;
	/*height: 350px;*/
}

.site-map{
	margin: 0;
}

.site-map>li{
	height: 30px;	
	line-height: 30px;
	margin: 0;
	float: none;
	margin-right: 30px;
}
.site-map>li>a{
	text-transform: none;
	line-height: 30px;
	font-weight: normal;
}

.bottom-footer{
	position: relative;
	/*min-height: 100%;*/
}

.bottom-line{
	/*position: absolute;
	left: 0;
	bottom: 0;*/
	width: 100%;
	height: auto;
	background: #300000;
	margin-top: 10px;
	margin-bottom: 5px;
	border: 1px solid #000;

	text-align: center;
}

/*.bottom-footer{	
	
	width: 100%;
	height: 80px;
}*/

.newway{
	font-weight: bold;
	color: #47a;
}

.rules{
	text-decoration: underline;
	font-weight: bold;
	color: #fff;
}

.center{
	text-align: center;
	padding: 0;
}

.social{
	/*height: 350px;*/
	display: inline-block;
}

.social-icon>a>img{
	margin: 0 4%;
	width: 20%;
}

.social-icon>a>img:first-child{
	margin-left:7%;
}

.divider{
	background: url('../img/divider.png') repeat-x;
	width: 80%;
	height: 3px;
	margin: 10px 10%;
}

.email{
	background: #fff;
	width: 80%;
	height: 40px;
	color: #333;
	padding: 0 5%;
	margin: 0 10%;

	border: 1px solid #333;
}

.silver-btn{
	background: #ddd;
	width: 80%;
	height: 40px;
	color: #333;

	margin: 5% 10%;

	border: 1px solid #333;
}

.silver-btn:hover{	
	background: #eee;
}

.checkbox{
	margin-left: 10%;
	border: 4px solid #333;
}

.wrapp>p{
	margin-left: 10px;
}

.city{
	/*height: 300px;*/
	display: inline-block;
}

.cities{
	margin: 10px;
	/*width: 50%;*/
	/*float: left;*/
	padding: 0;
}

.cities>li{
	margin: 0;
	height: 35px;
	margin-left: 3.5%;
	width: 41%;
}

.cities>li>a{
	font-size: 13px;
	color: #333;
	text-transform: capitalize;
	font-weight: bold;
	/*font-family: Arial;*/
}

.see-all-city{
	float: right;
	margin-top: 20px;
	margin-right: 20px;
	font-weight: bold;
}

.brand{
	/*height: 300px;*/
}

.mobil{
	padding-bottom: 0;
	margin-bottom: 5px;
}

.brand-block{
	width: 150px;
	height: 140px;
	background: #bbb;
	margin: 20px 5px;
	margin-left: .9%;
	float: left;
}

.brand-logo>img{
	width: 100%;
	height: 100px;
}

.brand-name{
	text-align: center;
	line-height: 40px;
	background: yellow;
}

a>.brand-name{
	text-decoration: none;
	list-style: none;
	color: #333;

	-webkit-transition-property: background;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-timing-function: ease;
	-webkit-transition-delay: 0.1s;

	transition-property: background;
	transition-duration: 0.3s;
	transition-timing-function: ease;
	transition-delay: 0.1s;
}

.brand-name:hover{
	background: red;
	/*opacity: 0.5;*/
}

table{
	margin-top: 20px;
}

table, tr, td, th{
	border: 1px solid #333;
	padding: 5px;
}

table {
    width: 100%;
}

tr {
    width: 100% 
}

th{
	background: #555;
	color: #fff;

	/*border-left: 2px solid #aaa;*/

	-moz-box-shadow: 0 3px 0 red; 
	-webkit-box-shadow: 0 3px 0 red; 
	box-shadow: 0 3px 0 red;
}



.news-block{
	/*margin: 0;*/
	padding: 0;
	display: inline-block;
}

.news{
	margin: 20px 0;
}

a>.image{
	width: 100%;
}

form>div>label{
	display: block;
}

form>div>input[type="text"], input[type="password"]{
	width: 100%;
	height: 40px;
	font-size: 16px;
	padding: 0 10px;
	color: #333;
	border: 1px solid #333;
}

/*input[type="submit"]*/
.btn-primary
{
    background: #eee;
    width: 100%; 
    height: 40px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #333;
	
    border: 1px solid #333;
}

.toggleMenu {
    display:  none;
    height: 100%;
    width: 100%;
    padding: 15px;
    color: #fff;
}

.own-btn{
	position: absolute;
	width: 40px;
	height: 40px;
	background: #333;
	opacity: .3;
	top: 190px;
	z-index: 4;
}

.prev_button{	
	left: 0px;
}

.next_button{	
	right: 0px;
}

.prev_button:hover, 
.next_button:hover{
	opacity: .9;
}

.own-btn>i{
	color: #fff;
	font-size: 30px;
	display: block;
	margin: 6px 10px;	 
}

.fancybox{
	position: relative;
}

.slide-text{
	position: absolute;
	width: 100%;
	height: 40px;
	background: #333;
	line-height: 40px;
	display: none;
	text-align: center;
	color: #fff;
}


.slide-date{
	bottom: -127px;
	font-size: .85em;
	background: red;
	height: 30px;	
	line-height: 30px;
}

a  > .row > .col-xs-3 > img{
	width: 30px;
	margin: 3px;
}

.categories{
	height: 150px;
	display: block;
	overflow: hidden;
}

.sales{
	height: 180px;
	display: block;
	overflow: hidden;
}

.cat-detail{
	width: 100%;
	display: block;
}

.cat, .sale{
	float: none;
	margin: 0px auto;
	display: block;
	width: 31%;
}



.ta-left{
	text-align: left;
}

.cat-text{
	vertical-align: middle;
	line-height: normal;
}


.to-top{
	position: fixed;
    display: none;
    bottom: 40px;
    right: 20px;
    /*visibility: hidden;*/
    opacity: 0.6;
    font-size: 60px;
}

.to-top:hover{
	opacity: .8;
	color: #300000;
};

#page-preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #000;
    z-index: 100500;
}

#page-preloader .spinner {
    width: 32px;
    height: 32px;
    position: absolute;
    left: 50%;
    top: 50%;
    background: url('/img/loading.gif') no-repeat 50% 50%;
    margin: -16px 0 0 -16px;
}


h6 .btn> div{
	margin-top: 15px;
}