/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.top{
		background: #11d;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.top{
		background: #bbb;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {	
	.top{
		background: #999;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.top{
		background: #666;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	.top{
		background: #111;
	}
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}