/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.top{
		background: #11d;
	}
	.search{
		margin-left: 4%;
	}

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.top{
		background: #bbb;
	}
	.main-menu>li>a{
		/*display:none;*/
		font-size: 80%;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {	
	.top{
		background: #999;
	}
	.top-menu{
		height: auto;
	}
	.top-btns{
		margin-left: 6%; 
		margin-bottom: 6%; 
		width: 90%;
	}
	.main-menu > li {
        float: none;
		margin: 0;
    }
    .main-menu {
        display: block;
        width: 100%;
        padding: 0;
    }
    .main-menu>li>a{
		text-align: center;
	}
	.site-map>li>a{
		font-size: 80%;
	} 
	.site-map{
		padding: 0;
	}
	.site-map>li{
		display: inline-block;
	}
	.logo{
		display: block;
	    margin: 20px auto;	    
	}
	.ltl:nth-child(4n+4) {
	    clear:left;
	    float:left;
	}
}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.top{
		background: #666;
	}
	.btn{
		font-size: 70%;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	.top{
		background: #111;
	}
	.btn{
		content: '';
	}
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
